body{
	margin: 0px auto;
	background-color: black;
}

#login{
	margin: 0px auto;
	width: 100%;
	padding: 5px 0px;
	background: linear-gradient(0deg, rgba(241,241,241,1) 0%, rgba(223,255,32,1) 50%);
	text-align: right;
}

#login form{
	margin-left: 3px;
	float: left;
}

#login a{
	padding: 0px 20px;
	text-decoration: none;
	color: black;
	border: 2px solid white;
	border-radius: 10px 10px 10px 10px;
}

 /* Dropdown Button */
.dropbtn {
  background: linear-gradient(0deg, rgba(241,241,241,1) 0%, rgba(223,255,32,1) 50%);
  color: black;
  margin-top: 0px;
  padding: 0px 20px;
  border: 2px solid white;
  border-radius: 10px 10px 10px 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  text-decoration: none;
  font-size: 1vw;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;} 

#header_image{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px auto;
	height: 20vh;
	width: 100%;
	border: 1px solid black;
}

#header_image a{
	color: yellow;
	text-decoration: none;
}

nav{
	width: 100%;
	background: linear-gradient(0deg, rgba(241,241,241,1) 0%, rgba(223,255,32,1) 50%);
	margin: 0px auto;
}

	nav ul{
		display: flex;
		flex-wrap: none;
		justify-content: center;
		align-items: center;
		margin: 0px auto;
		list-style: none;
		padding: 5px 0px;
	}

		nav ul a{
			color: black;
			font-size: 1.5vw;
			text-decoration: none;
			padding: 0px 10px;
			border-right: 1px solid #0066CC;
		}
		
		nav ul a:last-of-type{
			border-right: none;
		}
		
		nav ul li:hover {
			background-color: white;
			border-radius: 5px;
			transition: 1s;
		}
		
section{
	width: 95%;
	background-color: #777;
	margin: 0px auto;
	padding-bottom: 20px;
	border-radius: 0px 0px 15px 15px;
	border: 1px solid #777;
	text-align: center;
}

.planet_list{
	list-style: none;
}

.planet_list li{
	display: inline-block;
}

.planet_list button{
	height: 50px;
	width: 100px;
}

.error{
	color: red;
}

#login_form{
	margin: 20px auto;
	margin-bottom: 0px;
	text-align: center;
	width: 30%;
	border: 1px solid black;
	padding: 10px 0px;
}

#login_form label{
    display: inline-block;
    float: left;
    clear: left;
    width: 180px;
    text-align: right;
}
#login_form input{
	display: inline-block;
	float: left;
}

#login_form #submit{
	display: block;
	float: none;
	margin: 0px auto;
	margin-top: 10px;
}

#update_form{
	margin: 0px auto;
	text-align: center;
	width: 60%;
}

#update_form label{
	display: inline-block;
    float: left;
    clear: left;
    width: 45%;
    text-align: right;
}

#update_form input{
	display: inline-block;
	float: left;
	text-align: right;
}

#update_form input[type="submit"]{
	display: block;
	float: none;
	margin: 0px auto;
}

table{
	margin: 0px auto;
	border: 3px solid black;
}

table a{
	color: white;
	text-decoration: none;
}

table .page_name{
	background-color: black;
}

td{
	border: 1px solid black;
}

button{
	margin-top: 5px;
}

.search_results{
	margin: 0px auto;
	width: 50%;
	text-align: left;
	border: 1px solid white;
}

.search_results h2{
	margin-left: 5px;
	text-decoration: underline;
}

.search_results p{
	margin-left: 10px;
}

footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: linear-gradient(0deg, rgba(241,241,241,1) 0%, rgba(223,255,32,1) 50%);
	border: 1px solid black;
	border-radius: 10px 10px 0px 0px;
	text-align: center;
}

footer p{
	margin: 1px;
	font-size: 0.75vw;
}