/******f************
    
    Final Project - WEBD-2008 Web Development 2 
    Name: Nicholas Fletcher
    Date: June 22, 2022
    Description: Styles for all pages in the Galaxy Far, Far Away Database website. 

*******************/

body{
	background-color: black;
	margin: 0px auto;
}

#login{
	background: linear-gradient(0deg, rgba(241,241,241,1) 0%, rgba(223,255,32,1) 50%);
	margin: 0px auto;
	padding: 5px 0px;
	text-align: right;
	width: 100%;
}

#login form{
	float: left;
	margin-left: 3px;
}

#login a{
	border: 2px solid white;
	border-radius: 10px 10px 10px 10px;
	color: black;
	padding: 0px 20px;
	text-decoration: none;
}

 /* Dropdown Button */
.dropbtn {
	background: linear-gradient(0deg, rgba(241,241,241,1) 0%, rgba(223,255,32,1) 50%);
	border: 2px solid white;
	border-radius: 10px 10px 10px 10px;
	color: black;
	margin-top: 0px;
	padding: 0px 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	display: inline-block;
	position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	background-color: #f1f1f1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	text-align: center;
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	display: block;
	font-size: 1vw;
	text-decoration: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;} 

#header_image{
	align-items: center;
	border: 1px solid black;
	display: flex;
	height: 20vh;
	justify-content: center;
	margin: 0px auto;
	width: 100%;
}

#header_image a{
	color: yellow;
	text-decoration: none;
}

nav{
	background: linear-gradient(0deg, rgba(241,241,241,1) 0%, rgba(223,255,32,1) 50%);
	margin: 0px auto;
	width: 100%;
}

	nav ul{
		align-items: center;
		display: flex;
		flex-wrap: none;
		justify-content: center;
		list-style: none;
		margin: 0px auto;
		padding: 5px 0px;
	}

		nav ul a{
			border-right: 1px solid #0066CC;
			color: black;
			font-size: 1.5vw;
			padding: 0px 10px;
			text-decoration: none;
		}
		
		nav ul a:last-of-type{
			border-right: none;
		}
		
		nav ul li:hover {
			background-color: white;
			border-radius: 5px;
			transition: 1s;
		}
		
section{
	background-color: #777;
	border-radius: 0px 0px 15px 15px;
	border: 1px solid #777;
	margin: 0px auto;
	padding-bottom: 20px;
	text-align: center;
	width: 95%;
}

.planet_list{
	list-style: none;
}

.planet_list li{
	display: inline-block;
}

.planet_list button{
	height: 50px;
	width: 100px;
}

.comment{
	border: 1px solid black;
	margin: 0px auto;
	width: 40%;
}

.comment h2{
	margin: 5px 0px 0px 5px;
	text-align: left;
	text-decoration: underline;
}

.comment p{
	margin: 0px 0px 10px 5px;
	text-align: left;
}

textarea{
	height: 20%;
	margin-top: 5px;
	width: 30%;
}

.error{
	color: red;
}

#login_form{
	border: 1px solid black;
	margin: 20px auto;
	margin-bottom: 0px;
	padding: 10px 0px;
	text-align: center;
	width: 30%;
}

#login_form label{
	clear: left;
    display: inline-block;
    float: left;
    text-align: right;
    width: 180px;
}

#login_form input{
	display: inline-block;
	float: left;
}

#login_form #submit{
	display: block;
	float: none;
	margin: 0px auto;
	margin-top: 10px;
}

#update_form{
	margin: 0px auto;
	text-align: center;
	width: 60%;
}

#update_form label{
	clear: left;
	display: inline-block;
    float: left;
    text-align: right;
    width: 45%;
}

#update_form input{
	display: inline-block;
	float: left;
	text-align: right;
}

#update_form input[type="submit"]{
	display: block;
	float: none;
	margin: 0px auto;
}

table{
	border: 3px solid black;
	margin: 0px auto;
}

table a{
	color: white;
	text-decoration: none;
}

table .page_name{
	background-color: black;
}

td{
	border: 1px solid black;
}

button{
	margin-top: 5px;
}

.search_results{
	border: 1px solid black;
	margin: 0px auto;
	text-align: left;
	width: 50%;
}

.search_results h2{
	margin-left: 5px;
	text-decoration: underline;
}

.search_results p{
	margin-left: 10px;
}

footer{
	background: linear-gradient(0deg, rgba(241,241,241,1) 0%, rgba(223,255,32,1) 50%);
	border: 1px solid black;
	border-radius: 10px 10px 0px 0px;
	bottom: 0px;
	position: fixed;
	text-align: center;
	width: 100%;
}

footer p{
	font-size: 0.75vw;
	margin: 1px;
}